body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h3{
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}
p{
    font-family: "Roboto", sans-serif;
}
/* ----------header---------- */
.web{
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
}
.studio-top{
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
}
.studio:hover{
    color: #404bbf;
}
.studio:active{
    color: sandybrown;
}
.studio:focus{
    color: #404bbf;
}
.studio{
    font-family: "Raleway", sans-serif;;
    font-weight: 500;
    color: #2E2F42;
}
.portfolio:hover{
    color: #404bbf;
}
.portfolio:active{
    color: sandybrown;
}
.portfolio:focus{
    color: #404bbf;
}
.portfolio{
    font-family: "Raleway", sans-serif;;
    font-weight: 500;
    color: #2E2F42;
}
.contacts:hover{
    color: #404bbf;
}
.contacts:active{
    color: sandybrown;
}
.contacts:focus{
    color: #404bbf;
}
.contacts{
    font-family: "Raleway", sans-serif;;
    font-weight: 500;
    color: #2E2F42;
}
.mail:hover{
    color: #4D5AE5;
}
.mail{
    font-style: normal;
    color: #434455;
}
.phone-number:hover{
    color: #4D5AE5;
}
.phone-number{
    font-style: normal;
    color: #434455;
}
/* ----------main---------- */
.hero-image{
    background-color: #2E2F42;
    text-align: center;
}
.button-logo:hover{
    background-color: #404bbf;
    cursor: pointer;
}
.button-logo:focus{
    color: #404bbf;
}
.button-logo{
    background-color: #4D5AE5;
}
.text-buttom{
    color: #FFFFFF;
    font-weight: 500;
}
.logo{
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
}
.our-team{
    background-color: #F4F4FD;
    text-align: center;
}
.card-one,
.card-two,
.card-three,
.card-four{
    background-color: #FFFFFF;
}
.our-portfolio{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
/* ----------footer---------- */
footer{
    background-color: #2E2F42;
}
.studio-bottom{
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
}
.text{
    color: #F4F4FD;
}